In [17]:
import pandas as pd
df = pd.read_csv("sysselsattning.csv")
pd.read_csv("sysselsattning.csv", encoding="ISO-8859-1", header=1)

            sysselsï¿½ttning     ï¿½lder    kï¿½n    2019
0      fï¿½rvï¿½rvsarbetande  16-19 ï¿½r    mï¿½n   58826
1      fï¿½rvï¿½rvsarbetande  16-19 ï¿½r  kvinnor   72847
2      fï¿½rvï¿½rvsarbetande  20-24 ï¿½r    mï¿½n  192696
3      fï¿½rvï¿½rvsarbetande  20-24 ï¿½r  kvinnor  174074
4      fï¿½rvï¿½rvsarbetande  25-29 ï¿½r    mï¿½n  293352
5      fï¿½rvï¿½rvsarbetande  25-29 ï¿½r  kvinnor  268587
6      fï¿½rvï¿½rvsarbetande  30-34 ï¿½r    mï¿½n  303019
7      fï¿½rvï¿½rvsarbetande  30-34 ï¿½r  kvinnor  271975
8      fï¿½rvï¿½rvsarbetande  35-39 ï¿½r    mï¿½n  280522
9      fï¿½rvï¿½rvsarbetande  35-39 ï¿½r  kvinnor  255391
10     fï¿½rvï¿½rvsarbetande  40-44 ï¿½r    mï¿½n  275085
11     fï¿½rvï¿½rvsarbetande  40-44 ï¿½r  kvinnor  260093
12  ej fï¿½rvï¿½rvsarbetande  16-19 ï¿½r    mï¿½n  176860
13  ej fï¿½rvï¿½rvsarbetande  16-19 ï¿½r  kvinnor  143432
14  ej fï¿½rvï¿½rvsarbetande  20-24 ï¿½r    mï¿½n  117928
15  ej fï¿½rvï¿½rvsarbetande  20-24 ï¿½r  kvinnor  103001
16  ej fï¿½rvï¿½rvsarbetande  25-29 ï¿½r    mï¿½n   86633
17  ej fï¿½rvï¿½rvsarbetande  25-29 ï¿½r  kvinnor   91124
18  ej fï¿½rvï¿½rvsarbetande  30-34 ï¿½r    mï¿½n   64162
19  ej fï¿½rvï¿½rvsarbetande  30-34 ï¿½r  kvinnor   76735
20  ej fï¿½rvï¿½rvsarbetande  35-39 ï¿½r    mï¿½n   53373
21  ej fï¿½rvï¿½rvsarbetande  35-39 ï¿½r  kvinnor   61312
22  ej fï¿½rvï¿½rvsarbetande  40-44 ï¿½r    mï¿½n   46857
23  ej fï¿½rvï¿½rvsarbetande  40-44 ï¿½r  kvinnor   49228